---
import Layout from '../layouts/Layout.astro';
import Manager from '../components/Manager.astro';
import MobileMenu from '../components/MobileMenu.astro';

---


<Layout title="Liga NFL Tabernas Fantasy">
	<MobileMenu />
	
	<main style="margin-top: 80px;">
		<h1 style="margin-bottom: 0.5em;">
			<span class="text-gradient" style="font-size: 0.75em;">Tabernas Fantasy</span>
		</h1>

		<div>
			<img src="/nflFantasy.png" alt="NFL logo" style="width: 140px; height: 225px; border-radius: 10px; margin-left: auto; margin-right: auto; margin-bottom:1em"/>
		</div>

		<p class="instructions">
			Los mánagers
		</p>

		<Manager 
		team="RR Thunders" 
		manager="Diego" 
		description={`Fundador de la fantasy y ganador del primer y último campeonato. Sabe de qué va esto.
		Aficionado a la NFL desde chiquitito. Ingresó en los Thunder en el año 2013 y desde ahí no ha parado de ganar.
		3 Anillos lo dicen todo."
		`}></Manager>

		<Manager 
		team="Euro49ers" 
		manager="Víctor" 
		description={`Sus equipos son los que más fantasía producen cuando están al máximo nivel. Es el Barça de la NFL. Capaz de armar un equipo campeón aunque el Draft no le depare fortuna. Cuando la cosa se pone seria (PO) sus equipos siempre sacan lo mejor.
		Otro que cuenta con 3 trofeos en sus vitrinas."
		`}></Manager>

		<Manager 
		team="Penes Broncos"
		manager="Javi" 
		description="Un técnico de la vieja escuela. Muchas voces y broncas a sus pupilos. Un auténtico fan de la NFL, noches enteras despierto viendo partidos de los rivales. Se cumple una década de sus noches más gloriosas. Los aficionados comienzan a pedir su cabeza." />

		<Manager 
		team="Voidminghan" 
		manager="Álex" 
		description={`Un míster con libreta moderna. Es una base de datos de la NFL andante. Amplio conocimiento de reglas, jugadores, estadísticas, etc.
		Si todo sigue su curso, en nada se alzará con su segundo campeonato." 
		`}></Manager>

		<Manager team="Empacadores GB" manager="Enrique" description="Un manager discreto que con poco ruido ha sido capaz de levantar 2 trofeos. Protagonista en las primeras ediciones, este último año ha vuelto a brillar con decisiones complicadas. Todo un caballero." />

		<Manager team="Mellieha Cats" manager="Alberto" description="Entrenador que a lo largo de la década ha ido de menos a más. Le gusta tirar siempre de la vieja guardia en sus alineaciones (véase Romo), pero no se casa con nadie. Pizarra amarrategui. Desde el último campeonato que ganó, no levanta cabeza." />
		
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	.instructions_champion {
	margin-bottom: 2rem;
	border: 1px solid rgba(50, 50, 50, 0.5);
	background: linear-gradient(rgba(30, 30, 30, 0.9), rgba(20, 20, 20, 0.8));
	padding: 1.5rem;
	border-radius: 8px;
}
</style>
